<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
    <div class="card border-0">
      <div class="row d-flex">
        <div class="col-lg-6 align-items-center">
          <div class="card-6">
            <div class="row justify-content-center">
              <%= image_tag("park.png", style: "whidth: 230px; height: 300px;") %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card-9 px-4 py-5">
            <h2 style="color: #119cff;">Entrar</h2>
            <div class="row px-3">
              <h6 class="mb-0 text-sm"><%= f.label :email, class:"mb-1" %></h6>
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"mb-4", placeholder:"Entre com um email valido" %>
            </div>
            <div class="row px-3">
              <h6 class="mb-0 text-sm"><%= f.label :password, class: "mb-1" %></h6>
              <%= f.password_field :password, autocomplete: "current-password", placeholder:"Digite a senha" %>
            </div>
            <div class="row px-3 mb-4">
              <div class="custom-control custom-checkbox custom-control-inline">
                  <%= f.check_box :remember_me, id: 'chk1', class: "form-check-input" %>
                  <%= f.label "Lembrar-me", for: 'chk1', class: "custom-control-label text-sm" %>
              </div>
            </div>
            <div class="row mb-3 mt-3 px-3">
              <%= f.submit "Entrar", class: "btn btn-dark text-center" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

