<div style="display: flex; align-items: center;" class="mt-5 justify-content-center">
  <h1>Fluxo de caixa <i class="bi bi-coin"></i></h1>
</div>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="border-0">
    <div class="row d-flex">
      <%= form_tag fluxo_caixas_path, method: 'get', class: "form-inline card ", style: "background-color #87CEFA;" do %>
        <div class="row mt-4 mb-2">
          <div class="col-md-3 mt-2 " style="margin-left: 10px;">
            <div class="field form-floating ">
              <%= text_field_tag :descricao,params[:descricao], class: "form-control" %>
              <%= label_tag "Descrição"%>
            </div>
          </div>
          <div class="col-md-3 mt-2 " style="margin-left: 10px;">
            <div class="field form-floating">
              <%= text_field_tag :forma_pagamento,params[:forma_pagamento], class: "form-control" %>
              <%= label_tag "Forma de Pgto"%>
            </div>
          </div>
          <div class="col-md-3 mt-2" style="margin-left: 10px;">
            <div class="field form-floating">
              <%= select_tag(:categoria, options_for_select(['Receita', 'Despesa']), { include_blank: "", class: "form-control" }) %>
              <%= label_tag "Categoria"%>
            </div>
          </div>
          <div class="col-md-3 mt-2" style="margin-left: 10px;">
            <div class="field form-floating">
              <%= select_tag(:tipo, options_for_select(['Entrada', 'Saida']), { include_blank: "", class: "form-control" }) %>
              <%= label_tag "Selecione o tipo"%>
            </div>
          </div>
          <div class="col-md-3 mt-2" style="margin-left: 10px;">
            <div class="field form-floating">
              <%= select_tag(:status, options_for_select(['Pago', 'Pedente']), { include_blank: "", class: "form-control" }) %>
              <%= label_tag "Selecione o status"%>
            </div>
          </div>
          <div class="col-md-3 mt-2"style="margin-left: 10px;">
            <div class="field form-floating">
              <%= date_field_tag :min, params[:min] ||= Date.today, placeholder: "Pgto de", class: 'form-control'  %>
              <%= label_tag "Data de:"%>
            </div>
          </div>
          <div class="col-md-3 mt-2" style="margin-left: 10px;">
            <div class="field form-floating">
              <%= date_field_tag :max,params[:max] ||= Date.today, placeholder: "Pgto até", class: 'form-control' %>
              <%= label_tag "Data até:"%>
            </div>
          </div>
          <div class="col-md-2 mt-3">
            <div class="field form-floating" style="margin-left: 10px;">
              <%= button_tag(value: "commit", type: 'submit', class: "btn btn-dark") do %>
                <i class="fa fa-search"></i> Pesquisar
              <% end %>
            </div>
          </div>
        </div>
      <% end %>  
      <div  class="accordion mt-4" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <h4 style="margi-left: 10px;"> Total: R$: <%= formatar_valor(@total) rescue nil %>
                |
                Entrada:  R$: <%= formatar_valor(@entrada) rescue nil %>
                |
                Saida:  R$: <%=formatar_valor(@saida) rescue nil %></h4>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <h5>Periodo de: <%=l @min.to_date, format: :default%> Até: <%=l @max.to_date, format: :default%>   : </h5>
              <p>Na última semana:  <%= formatar_valor(@total_semana) %></p>
              <p>No último mês:  <%= formatar_valor(@total_mes) %></p>
            </div>
          </div>
        </div>
      </div>
      <div class=" align-items-center">
        <div class="table-responsive rounded mx-auto" style="overflow: auto; margin-top: 50px">
          <table class="table table-borderless table-hover">
            <thead>
              <tr>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Descrição</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Categoria</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Tipo</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Valor</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Forma pgto</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Status</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Data criação</span>
                </th>
                <th style="background-color: #87CEFA; color: #fff;">
                  <span>Ação</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <% @fluxo_caixas.each do |fluxo| %>
                <tr class="border-bottom">
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= fluxo.descricao%></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= fluxo.categoria%></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= fluxo.tipo%></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= formatar_valor(fluxo.valor) %></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= fluxo.forma_pagamento %></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= fluxo.status %></span>
                    </div>
                  </td>
                  <td>
                    <div>
                      <span class="d-block font-weight-bold"><%= l fluxo.data_criacao, format: :default %></span>
                    </div>
                  </td>
                  <td>
                    <div class="d-flex flex-row align-items-center">
                      <div class="d-flex flex-column ml-2">
                        <%= link_to fluxo_caixa_path(fluxo), class: "btn5 ", style: "margin-right: 10px;" do %>
                          <i class="bi bi-credit-card-fill"></i>
                        <% end %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <div class=" pagination text-center d-flex align-items-center justify-content-center mt-5"  >
            <%= paginate @fluxo_caixas, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
