<div style="display: flex; align-items: center;">
  <h1>Pagamento <i class="bi bi-coin" style="margin-left: 10px;"></i></h1>
</div>
  <p>
    <strong>Id:</strong>
    <%= caixa.id %>
  </p>
  <p>
    <strong>Pgto id:</strong>
    <%= caixa.checkin_id %>
  </p>
  <p>
    <strong>Forma de Pagamento:</strong>
    <%= caixa.forma_pagamento %>
  </p>

  <p>
    <strong>Total: </strong>
    <%= formatar_valor(caixa.total) %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= formatar_valor(caixa.valor) %>
  </p>

  <p>
    <strong>Troco:</strong>
    <%= caixa.troco %>
  </p>

  <p>
  <strong>Data Pgto:</strong>
  <%= l caixa.data_pagamento, format: :default %>
  </p>

  <p>
    <strong>Tempo de estadia:</strong>
    <%= caixa.tempo_estadia %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= caixa.status %>
  </p>

</div>
