<div id="<%= dom_id despesa %>">
  <p>
    <strong>Descricao:</strong>
    <%= despesa.descricao %>
  </p>

  <p>
    <strong>Categoria:</strong>
    <%= despesa.categoria %>
  </p>

  <p>
    <strong>Forma pgto:</strong>
    <%= despesa.forma_pagamento %>
  </p>

  <p>
    <strong>Valor:</strong>
    <%= despesa.valor %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= despesa.status %>
  </p>

  <p>
  <strong>Data Pgto:</strong>
  <%= despesa.data_pagamento %>
  </p>

  <p>
    <strong>Data vencimento:</strong>
    <% if despesa.data_vencimento.present?%>
      <%= despesa.data_vencimento %>
    <% else %>
      <%= "Não possui" %>
    <% end %>
  </p>

</div>
