<div style="display: flex; align-items: center;" class="mt-5 mb-5 justify-content-center">
  <h1> Receitas e Despesas</h1>
</div>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="border-0">
    <div class="row d-flex">
      <%= form_tag relatorios_caixa_path, method: :get, class: "form-inline card mb-3 mt 3" do %>
        <div class="row m-4">
          <div class="col-md-3 mt-2 " style="margin-left: 10px;">
            <div class="field form-floating ">
              <%= date_field_tag :min, params[:min] ||= Date.today , class: 'form-control' %>
              <%= label_tag "Data de: "%>
            </div>
          </div>
           <div class="col-md-3 mt-2 " style="margin-left: 10px;">
            <div class="field form-floating ">
              <%= date_field_tag :max, params[:max] ||= Date.today , class: 'form-control' %>
              <%= label_tag "Data até: "%>
            </div>
          </div>
          <div class="col-md-2 mt-3">
            <div class="field form-floating" style="margin-left: 10px;">
              <%= button_tag(value: "commit", type: 'submit', class: "btn btn-dark") do %>
                <i class="fa fa-search"></i> Pesquisar
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <div  class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              <div class="d-flex justify-content-between w-100">
                <div>
                  <h5> Total de Receitas <i class="fa fa-question-circle" id="tooltip-acordeon" title="<%=total_receitas(@min,@max)%>"></i> </h5>
                </div>
                <div>
                  <h5 > <%= formatar_valor(@receita_entre.sum(&:total))%></h5>
                </div>
              </div>
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>No dia <%= l @min.to_date, format: :default%> : <%= formatar_valor(@receitas_dia.sum(&:total)) %></p>
              <p>Na última semana: <%= formatar_valor(@receitas_semana.sum(&:total) )%></p>
              <p>No último mês: <%= formatar_valor(@receitas_mes.sum(&:total))%></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <div class="d-flex justify-content-between w-100">
              <div>
                <h5> Total de Despesas <i class="fa fa-question-circle" id="tooltip-acordeon" title="<%= total_despesas(@min, @max) %>"></i></h5>
              </div>
              <div>
                <% if @despesas_entre.present?  %>
                  <h5 > <%= formatar_valor(@despesas_entre.sum(&:valor))%></h5>
                <% else %>
                  <h5 > R$: 0,00</h5>
                <% end %>
              </div>
            </div>
          </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>No dia <%= l @min.to_date, format: :default%> : <%= formatar_valor(@despesas_dia.sum(:valor) )%></p>
              <p>Na última semana: <%=  formatar_valor(@despesas_semana.sum(:valor))%></p>
              <p>No último mês: <%= formatar_valor(@despesas_mes.sum(:valor)) %></p>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h5>Detalhes de Despesas <i class="fa fa-question-circle" id="tooltip-acordeon" title="<%= detalhes_despesas %>"></i></h5>
            </button>
          </h2> 
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>Perido de <%= l @periodo_de, format: :default%> até <%=l @periodo_ate, format: :default%></p>
              <% if @soma_por_categoria.present? %>
                <% aux = 1 %>
                <% @soma_por_categoria.each do |categoria| %>
                  <%= "#{aux}. #{categoria[:categoria]}: R$ #{categoria[:total]}"%><br>
                  <% aux += 1%>
                <% end %>
              <% else %>
                <p>Não há despesas nesse período</p>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div  class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <h5> Graficos por Categoria <i class="fa fa-question-circle" id="tooltip-acordeon" title="<%= grafico_despesas %>"></i></h5>
            </button>
          </h2> 
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <% if @soma_por_categoria.present? %>
                <canvas id="despesasPorCategoria" width="50%" height="50%"></canvas>
              <% else %>
                <p>Não há despesas nesse período</p>
              <% end %>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
              <div class="d-flex justify-content-between w-100">
                <div>
                  <h5>Lucro Liquido <i class="fa fa-question-circle" id="tooltip-acordeon" title="<%= lucro_liquido %>"></i></h5>
                </div>
                <div>
                  <h5> <%= formatar_valor(@lucro_liquido_entre)%></h5>
                </div>
              </div>
            </button>
          </h2> 
          <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
            <div class="accordion-body">
              <p>No dia <%= l @min.to_date, format: :default%> : <%= formatar_valor(@lucro_liquido_dia)%></p>
              <p>Na última semana: <%= formatar_valor(@lucro_liquido_semana) %></p>
              <p>No último mês: <%= formatar_valor(@lucro_liquido_mes)%></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  var chartData = <%= @chart_data.to_json.html_safe %>;
  var ctx = document.getElementById('despesasPorCategoria').getContext('2d');

  var options = {
    responsive: true,
    maintainAspectRatio: false
  };

  var myPieChart = new Chart(ctx, {
    type: 'pie',
    data: chartData,
    options: options
  });

</script>