<style type="text/css">
	body {
	 font-family: helvetica, arial, sans-serif;
	}
</style>
<!-- <a href="#void" onclick="window.print(); return false;" >IMPRIMIR</a> -->
<table style="max-width: 250px; font-size: 14px;line-height: 0.9em;" id="ticket-body">
 	<thead>

	</thead>
	<tbody>
		<tr>
 			<th colspan="6" >
 				<%= image_tag("ParkHub2.jpg", style: "whidth: 20px; height: 50px;") %>
 			</th>
 		</tr>
		<tr>
			<th colspan="5">Ticket de Saida</th>
		</tr>
		<tr>
			<th colspan="5">"Estacionamento ParkHub"</th>
		</tr>
		<tr>
			<th colspan="6">Rua Francisco Sales, Número: 139- Bairro: Açude</th>
		</tr>
		<tr>
			<th colspan="6" style="text-align: center;" >Caucaia, CE</th>
		</tr>
		<tr>
			<td colspan="8" >
				<hr/>
			</td>
		</tr>
		<tr>
			<td><b> Placa </b> </td>
			<td colspan="5" > <%= @checkin.veiculo_placa %> </td>
		</tr>
		<tr>
			<td><b> Entrada: </b> </td>
			<td> <%= @checkin.created_at.strftime('%H:%M - %d/%m/%Y') %> </td>
		</tr>
		<tr>
			<td><b> Saida: </b> </td>
			<td> <%= @checkin.updated_at.strftime('%H:%M - %d/%m/%Y') %> </td>
		</tr>
		<tr>
			<td><b> Vaga: </b> </td>
			<td colspan="5" > <%= @checkin.vaga.vaga_nome %> </td>
		</tr>
		<tr>
			<td><b> Valor Cobrado </b> </td>
			<td colspan="5" > R$ <%= sprintf('%.2f', @valor_total) %>  </td>
		</tr>
		<tr>
			<td><b> N° do Ticket:  </b> </td>
			<td> <%= @checkin.numero_ticket%> </td>
		</tr>
		<tr>
			<td colspan="8" >
				<hr/>
			</td>
    </tr>
    <tr>
      <th colspan="5">FONE: (85) 98540-3095</th>
    </tr>
      <td colspan="8" >
				<hr/>
			</td>
	</tbody>
</table>
<script>
  function imprimirTicket() {
    window.print();
  }

  // Acionar a impressão assim que a página for carregada
  window.onload = function() {
    imprimirTicket();
  };
</script>