<%= form_with(model: vaga) do |form| %>
  <div class="container">
    <div class="card p-4 mt-5">
      <div class="row g-3">
        <div class="col-12">
          <div class="col-12 mb-4">
            <% if vaga.new_record? %>
              <h4>Cadastrar Vagas</h4>
            <% else %>
              <h4>Editar Vagas</h4>
            <% end %>
            <span class="text-muted">Preencha todos os dados corretamente:</span>
          </div>
          <div class="form-check form-check-inline">
            <%= form.radio_button :status, true, id: 'status_ocupada', class: 'form-check-input'%>
            <%= form.label :status, ' Ocupada', class: 'form-check-label', for: 'status_ocupada' %>
          </div>
          <div class="form-check form-check-inline mb-4">
            <%= form.radio_button :status, false, id: 'status_disponivel', class: 'form-check-input' %>
            <%= form.label :status, ' Disponível', class: 'form-check-label', for: 'status_disponivel' %>
          </div>
          <div class="col-lg-4 col-md-12">
            <div class="form-floating">
              <%= form.text_field :vaga_nome, class:"form-control", placeholder:"Digite o andar",required: true %>
              <%= form.label "Nome" %>
            </div>
          </div>
          <div>
            <div class="col-lg-4 mt-3 d-flex">
              <%= form.submit "Cadastrar", class: "btn btn-dark ", style: "margin-right: 10px;" %>
              <%= link_to "Vagas", vagas_path, class: "btn btn-dark" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
