<div class="container mt-5">
  <div class="mb-3">
    <h1>Caixa <i class="bi bi-shop"></i></h1>
  </div>

  <div class="container-3 justify-content-start" style="margin-bottom: 20px;">
    <div class="row">
      <div class="col-lg-4 col-md-12">
        <div class="field form-floating">
          <%= form_tag search_pagamentos_path, method: :get do %>
            <div class="d-flex">
              <%= text_field_tag :search, @search, placeholder: "Id pagamento", class: "form-search" %>
              <%= submit_tag " Buscar", class: "btn10 ms-4" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="table-responsive rounded mx-auto mt-5" style="overflow: auto;">
    <table class="table table-borderless card-3 table-hover">
      <thead>
        <tr>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>COD</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Pagamento</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Total</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Valor</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Troco</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Data</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Estadia</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff; width: 100px;">
            <span>Status</span>
          </th>
          <th style="background-color: #87CEFA; color: #fff;">
            <span>Ação</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <% @pagamentos.each do |pagamento| %>
          <tr class="border-bottom">
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.id %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.forma_pagamento%></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.total %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.valor %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.troco %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= l pagamento.data_pagamento, format: :default %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.tempo_estadia %></span>
              </div>
            </td>
            <td>
              <div>
                <span class="d-block font-weight-bold"><%= pagamento.status %></span>
              </div>
            </td>
            <td>
              <div class="d-flex flex-row align-items-center">
                <div class="d-flex flex-column ml-2">
                  <%= link_to pagamento_path(pagamento), class: "btn5 ", style: "margin-right: 10px;" do %>
                    <i class="bi bi-credit-card-fill"></i>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

