<div style="display: flex; align-items: center;" class="mt-5 justify-content-center">
  <h1 style="color: black;">Check-in <i class="bi bi-coin"></i></h1>
  <%= link_to "Registrar", new_checkin_path, class: "btn4", style: "margin-left: 10px;"%>
</div>

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div class="border-0">
    <div class="row d-flex">
      <div class=" align-items-center">
        <div class="row justify-content-center">
          <%= form_tag checkins_path, method: 'get', class: "form-inline card justify-content-center" do %>
            <div class="row m-4">
              <div class="col-md-3 mt-2">
                <div class="field form-floating">
                  <%= text_field_tag :veiculo_placa,params[:veiculo_placa], class: "form-control" %>
                  <%= label_tag "Buscar por placa " %>
                </div>
              </div>
              <div class="col-md-3 mt-2">
                <div class="field form-floating">
                  <%= date_field_tag :min, params[:min] || Date.today, class: 'form-control' %>
                  <%= label_tag "Data de" %>
                </div>
              </div>
              <div class="col-md-3 mt-2">
                <div class="field form-floating">
                  <%= date_field_tag :max,params[:max] || Date.today , class: 'form-control' %>
                  <%= label_tag "Data até" %>
                </div>
              </div>
              <div class="col-md-2 mt-3">
                <div class="field form-floating" style="margin-left: 10px;">
                  <%= button_tag(value: "commit", type: 'submit', class: "btn btn-dark") do %>
                    <i class="fa fa-search"></i> Pesquisar
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="table-responsive mt-5" style="margin-bottom: 40px; border-radius: 10px;"> 
        <table class="table table-borderless table-hover" style="borde-radius:10px;">
          <thead>
            <tr>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Id</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Placa</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Vaga</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>status</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Tipo</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Permanência</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Preço</span>
              </th>
              <th style="background-color: #87CEFA; color: #fff;">
                <span>Ações</span>
              </th>
            </tr>
          </thead>
          <tbody>
            <% @checkins.each do |checkin| %>
              <tr class="border-bottom">
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= checkin.id %></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= checkin.veiculo_placa%></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= checkin.vaga.vaga_nome %></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= checkin.status == false ? "Disponivel" : "Ocupado" %></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%=  checkin.preco.tipo %></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= checkin.em_permanencia == true ? "Sim" : "Não" %></span>
                  </div>
                </td>
                <td>
                  <div>
                    <span class="d-block font-weight-bold"><%= formatar_valor(checkin.preco.preco_hora) %></span>
                  </div>
                </td>
                <td>
                  <div class="d-flex flex-row align-items-center">
                    <div class="d-flex flex-column ml-2">
                      <%= link_to edit_checkin_path(checkin), class: "btn5 ", style: "margin-right: 10px;" do %>
                        <i class="bi bi-pencil-square"></i>
                      <% end %>
                    </div>
                    <div class="d-flex flex-column ml-2">
                      <%=  button_to checkin_path(checkin), method: :delete, class: "btn6 ", style: "margin-right: 10px;" do %>
                        <i class="bi bi-trash"></i>
                      <%end%>
                    </div>
                    <% if checkin.em_permanencia? %>
                      <div class="d-flex flex-column ml-2">
                        <%= link_to gerar_ticket_entrada_path(checkin), class: "btn7", style: "margin-right: 10px;", target: "_blank", onclick: "imprimirTicket(); window.print(); return false;" do %>
                          <i class="bi bi-arrow-right-square-fill"></i>
                        <%end%>
                      </div>
                    <% else %>
                    <% unless checkin.pago? %> <!-- Verifica se o check-in tem um caixa -->
                        <div class="d-flex flex-column ml-2">
                          <%= link_to new_caixa_path(checkin_id: checkin.id), style: "margin-right: 10px;", class: "btn9" do  %>
                            <i class="bi bi-cash-coin"></i>
                          <% end %>
                        </div>
                      <% end %>
                    <% end %>
                    <div class="d-flex flex-column ml-2">
                      <%= link_to version_path(checkin), class: "btn12", style: "margin-right: 10px;" do %>
                        <i class="bi bi-file-earmark-code-fill"></i>
                      <% end %>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <div class=" pagination text-center d-flex align-items-center justify-content-center mt-5"  >
          <%= paginate @checkins, theme: 'bootstrap-5', pagination_class: "pagination-sm flex-wrap justify-content-center", nav_class: "d-inline-block" %>
        </div>
      </div>
    </div>
  </div>
</div>